Package: com.ps.predictivekeyboardflipswitch
Name: Predictive Keyboard Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 11.0)
Provides: org.thebigboss.predictivekeyboardfs
Replaces: org.thebigboss.predictivekeyboardfs
Conflicts: org.thebigboss.predictivekeyboardfs
Version: 1.0.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Predictive Keyboard.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)
